.formsection {
  padding: 2em;
  margin: auto;
  text-align: center;
  padding: auto;
}

.formsection input {
  padding: 0.5em;
  margin: 1em;
}

.formsection button {
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: black;
  width: 10em;
}
